**/*.pyc
checkpoints
cache
data
figures
*.png
.ipynb_checkpoints/
.vscode/
mimic3models/decompensation/logistic/predictions/
mimic3models/decompensation/logistic/results/
mimic3models/in_hospital_mortality/keras_logs/
mimic3models/in_hospital_mortality/keras_states/
mimic3models/in_hospital_mortality/logistic/predictions/
mimic3models/in_hospital_mortality/logistic/results/
mimic3models/length_of_stay/logistic/predictions/
mimic3models/length_of_stay/logistic/results/
mimic3models/multitask/keras_logs/
mimic3models/multitask/keras_states/
mimic3models/multitask/keras_states/
mimic3models/phenotyping/logistic/predictions/
mimic3models/phenotyping/logistic/results/
results/
run.sh
run_lstm.sh

overlap_check.py
results_norounding
results_proportion_large
